<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sun.mybookreader"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.sun.mybookreader.utils.GlobalContext"
        android:allowBackup="true"
        android:icon="@drawable/mreader"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.sun.mybookreader.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.sun.mybookreader.activity.BookDetailActivity" />
        <activity android:name="com.sun.mybookreader.activity.BookCategoryActivity" />
        <activity android:name="com.sun.mybookreader.activity.BookListActivity" />

        <provider
            android:name="com.sun.mreader.provider.BookProvider"
            android:authorities="com.sun.mreader" >
        </provider>
        
        <service android:name="com.sun.mreader.service.BookService" />
    </application>

</manifest>